spring:
  config:
    import: "aws-parameterstore:"
  datasource:
    url: ${AWS-RDS}
    username: ${AWS-RDS-username}
    password: ${AWS-RDS-password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${g-client-id}
            clientSecret: ${g-client-secret}
            redirect-uri: ${s-redirect-uri-google}
            authorization-grant-type: authorization_code
            scope:
              - email
              - profile
          naver:
            client-id: ${n-client-id}
            client-secret: ${n-client-secret}
            redirect-uri: ${s-redirect-uri-naver}
            authorization-grant-type: authorization_code
            scope: nickname,email
            client-name: Naver
          kakao:
            clientId: ${k-client-id}
            clientSecret: ${k-client-secret}
            redirect-uri: ${s-redirect-uri-kakao}
            authorization-grant-type: authorization_code
            client-authentication-method: POST
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        pathmatch:
            matching-strategy: ant_path_matcher

cloud:
  aws:
    s3:
      bucket: dowajoyak.shop
    region:
      auto: false
      static: ap-northeast-2
    stack:
      auto: false

aws:
  paramstore:
    enabled: true
    prefix: /spring-boot-aws
    defaultContext: db-pre-project-005
    profileSeparator: _


logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG

jwt:
  key: ${jwt-secret}
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 420

mail:
  address: ${admin-address}

config:
  domain : ${deploy-domain}

